.cart-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.cart-title {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #f8f5f5;
  border: 1px solid #f0eded;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease-in-out;
}

.cart-item:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.cart-item img {
  width: 100px;
  height: auto;
  border-radius: 5px;
}

.cart-item-details {
  flex: 1;
  margin-right: 100px;
}

.cart-item-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.cart-item-author {
  font-size: 16px;
  color: #070707;
  font-display: #070707;
}

.cart-item-price {
  font-size: 18px;
  font-display: #333;
}

.cart-item-remove {
  padding: 8px 12px;
  background-color: #ff4d4d;
  color: rgb(32, 28, 28);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cart-item-remove:hover {
  background-color: #ff1a1a;
}

.cart-summary {
  margin-top: 40px;
  text-align: right;
}

.cart-total {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.cart-checkout-button {
  padding: 12px 20px;
  background-color: #28a745;
  color: rgb(23, 23, 23);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cart-checkout-button:hover {
  background-color: #218838;
}

.empty-cart-message {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
  color: #666;
}
.p{
  font-display: #181717;
}